/* components/Header.css */

/* 顶部栏 */
.top-header {
    display: flex;
    /* 两端分布,左边周次和日间夜间模式切换,右边回到本周按钮 */
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6px;
    flex-shrink: 0;
    padding-top: 5px;
}

/* 左侧 */
.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
    /* 标题与图标之间的间距 */
}

/* 周次标题,彩虹色 */
.header-title {
    font-size: clamp(15px, 7vw, 40px);
    font-weight: bold;
    background: linear-gradient(to right,
            rgb(232, 210, 120),
            rgb(224, 216, 132),
            rgb(196, 206, 171),
            rgb(199, 184, 166),
            rgb(232, 194, 184));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    padding-bottom: 3px;

}

/* 日间/夜间模式切换按钮 */
.theme-icon-img {
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}


/* 回到本周按钮 */
.back-btn {
    background: linear-gradient(to right, rgb(173, 181, 47), rgb(131, 171, 44));
    color: rgb(247, 246, 213);
    border: none;
    border-radius: clamp(10px, 5vw, 30px);
    padding: 4px clamp(10px, 3.8vw, 50px);
    font-size: clamp(10px, 4vw, 40px);
    font-weight: 500;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* 在本周时隐藏 */
.back-btn-hidden {
    transform: translateX(150%);
    opacity: 0;
    pointer-events: none;
}